<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="consoleDebugLog" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-3p] - [%d{yyyy-MM-dd HH:mm:ss}] - %m - %l%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="DEBUG" />
			<param name="LevelMin" value="DEBUG" />
		</filter>
	</appender>

	<appender name="consoleInfoLog" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-3p] - [%d{yyyy-MM-dd HH:mm:ss}] - %m - %l%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="INFO" />
			<param name="LevelMin" value="INFO" />
		</filter>
	</appender>

	<appender name="consoleWarnLog" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-3p] - [%d{yyyy-MM-dd HH:mm:ss}] - %m - %l%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="WARN" />
			<param name="LevelMin" value="WARN" />
		</filter>
	</appender>

	<appender name="consoleErrorLog" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-3p] - [%d{yyyy-MM-dd HH:mm:ss}] - %m - %l%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="ERROR" />
		</filter>
	</appender>

	<appender name="traceLog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="DatePattern" value="'_'yyyy-MM-dd'.log'" />
		<param name="File" value="${catalina.base}/logs/busiopport-trace" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-3p] - [%d{yyyy-MM-dd HH:mm:ss}] - %m - %l%n" />
		</layout>
	</appender>

	<appender name="debugLog" class="org.apache.log4j.FileAppender">
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="File" value="C:\\debug.log" />
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="DEBUG" />
			<param name="LevelMin" value="DEBUG" />
		</filter>
	</appender>
	

	<appender name="infoLog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="DatePattern" value="'_'yyyy-MM-dd'.log'" />
		<param name="File" value="${catalina.base}/logs/info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-3p] - [%d{yyyy-MM-dd HH:mm:ss}] - %m - %l%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="DEBUG" />
		</filter>
	</appender>

	<appender name="warnLog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="DatePattern" value="'_'yyyy-MM-dd'.log'" />
		<param name="File" value="${catalina.base}/logs/busiopport-warn" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-3p] - [%d{yyyy-MM-dd HH:mm:ss}] - %m - %l%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="WARN" />
			<param name="LevelMin" value="WARN" />
		</filter>
	</appender>

	<appender name="errorLog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="DatePattern" value="'_'yyyy-MM-dd'.log'" />
		<param name="File" value="${catalina.base}/logs/busiopport-error" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-3p] - [%d{yyyy-MM-dd HH:mm:ss}] - %m - %l%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="ERROR" />
		</filter>
	</appender>
	<appender name="elkLog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="DatePattern" value="'_'yyyy-MM-dd'.log'" />
		<param name="File" value="${catalina.base}/logs/busiopport-elk" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-3p] - [%d{yyyy-MM-dd HH:mm:ss}] - %m - %l%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="INFO" />
			<param name="LevelMin" value="INFO" />
		</filter>
	</appender>
	<logger name="com.alibaba.dubbo" additivity="false">
		<appender-ref ref="consoleErrorLog" />
	</logger>
	<logger name="org.apache.ibatis" additivity="false">
		<appender-ref ref="consoleDebugLog" />
	</logger>
	<logger name="cn.bidlink.nbl" additivity="false">
		<appender-ref ref="consoleDebugLog" />
		<appender-ref ref="consoleInfoLog" />
		<appender-ref ref="consoleErrorLog" />
	</logger>
	<logger name="cn.bidlink.nbl.busiopport.common.utils.log.LogUtil"
		additivity="false">
		<appender-ref ref="elkLog" />
	</logger>
	<root>
		<appender-ref ref="consoleDebugLog" />
	</root>

</log4j:configuration>
